@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v11/neIXzD-0qpwxpaWvjeD0X88SAOeasd8chSs.ttf) format('truetype');
}
body {
  background-color: #F4FFFD;
  margin: 0;
}
.header {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: left;
  background-color: #F4FFFD;
  border: 1px solid #011936;
}
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  padding-left: 1rem;
}
.header h2 {
  position: fixed;
  right: 10px;
  top: 0.75rem;
  font-size: 2rem;
}
.mainblock {
  background-color: #F4FFFD;
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 10% 90%;
  border-bottom: 1px solid #011936;
}
#input {
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
  background-color: #F9DC5C;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 1px solid #011936;
}
.typingtext {
  font-family: 'Source Serif Pro', serif;
  font-size: 2rem;
}
.stats {
  font-family: 'Source Serif Pro', serif;
  background-color: #F4FFFD;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: space-around;
  border-right: 1px solid #011936;
  padding-right: 50px;
  padding-left: 1rem;
}
.item {
  font-size: 1rem;
  padding-left: 0.25rem;
  background-color: #F4FFFD;
  color: black;
}
#test {
  font-size: 1.5rem;
  margin: 3rem 3rem 3rem 3rem;
}
.correct {
  border-bottom: 3px solid green;
}
.misspelled {
  border-bottom: 3px solid red;
}
