@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:wght@300&display=swap');
@header-font:  'Bebas Neue', cursive;
@text-font: 'Source Serif Pro', serif;
@large-text: 3rem;
@medium-text: 2rem;
@small-text: 1rem;
@color1: #F4FFFD;
@color2: #011936;
@color3: #465362;
@color4: #F9DC5C;
@color5: #ED254E;


body {
    background-color: @color1;
    margin: 0;
}


.header {
    font-family: @header-font;
    font-size: @large-text;
    text-align: left;
    background-color: @color1;
    border: 1px solid @color2;
    
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 5rem;
        padding-left: 1rem;
    }
    h2 {
        position: fixed;
        right: 10px;
        top: .75rem;
        font-size: 2rem;
    }
}
.mainblock {
    background-color: @color1;
    font-family: @text-font;
    font-size: @small-text;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 90%;
    border-bottom: 1px solid @color2;
}
#input {
    font-size: @large-text;
    font-family: @text-font;
    background-color: @color4;
    margin-left:5rem;
    margin-right: 5rem;
    border: 1px solid @color2;
}
.typingtext {
    font-family: @text-font;
    font-size: @medium-text
}
.stats {
    font-family: @text-font;
    background-color: @color1;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
    border-right: 1px solid @color2;
    padding-right: 50px;
    padding-left: 1rem;
}
.item {
    font-size: @small-text;
    padding-left: .25rem;
    background-color: @color1;
    color: black;

}
#test {
    font-size: 1.5rem;
    margin: 3rem 3rem 3rem 3rem;
}
.correct{
    border-bottom: 3px solid green;
}
.misspelled {
    border-bottom: 3px solid red;
}