@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v10/neIXzD-0qpwxpaWvjeD0X88SAOeasd8chSs.ttf) format('truetype');
}
body {
  background-color: #F4FFFD;
  margin: 0;
}
.header {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: center;
  background-color: #ED254E;
}
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.mainblock {
  background-color: #F9DC5C;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0.5rem 3rem 0.5rem;
}
#input {
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}
.typingtext {
  font-family: 'Source Serif Pro', serif;
  font-size: 2rem;
}
.stats {
  font-family: 'Source Serif Pro', serif;
  background-color: #465362;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}
.item {
  font-size: 1.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #F4FFFD;
}
.button {
  font-family: 'Source Serif Pro', serif;
  background-color: #ED254E;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

ul {
  list-style-type: none;
  background-color: #f7b02b;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
}
li a:hover {
  background-color: #b98420;
}

#test .correct {
  border-bottom: 2px solid green;
}

#test .misspelled {
  border-bottom: 2px solid red;
}

